<div class="ah" id="careers">

    <div class="-careers" id="Careers" name="Careers">
        <div class="careers__joinUs container">
            <div class="careers__joinUs__title">
                Join the team
            </div>
            <div class="careers__joinUs__subTitle">
                We invite talented and motivated developers to join AvroLab. Work with us on the most exciting projects.
                Together we'll diversify professional skills.
                <div class="careers__joinUs__openPositions">
                    Find out more about open vacancies.
                </div>
                <div class="careers__joinUs__open">
                    <a class="fas fa-chevron-circle-down"></a>
                </div>

            </div>
        </div>
    </div>
    <div class="careers__container">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <!---->
            <div class="col-12 col-md-9" style="padding: 15px" >
              <div class=" careers__box">
                <div class="careers__name">
                  Android Developer
                </div>
                <div class="careers__description">
                  Our project is with clean architecture and modern technology. It helps supervisors control the
                  construction or repair process at all stages.
                </div>
                <!---->
                <div class="careers__more">
                  <a href="#">LEARN MORE</a>
                </div>


                <!---->
</div>