.logo {
    width: 300px;
    height: 75px;
    line-height: 75px;
    float: left;
    font-size: 40px;
    font-weight: 630;
    text-transform: uppercase;
   
    color: #14aaf4!important;
    cursor: pointer;
    padding-left: 40px;
}
.logo span {
    margin: 0;
    padding: 0;
    color: #21313d;
}

.menu {


    list-style: none;
    margin: 0;
    padding: 0 30px 0 0;
    float: right;
    z-index: 100;
}
.menu-item{
    display: block;
    height: 100%;
    width: auto;
    line-height: 75px;
    text-align: center;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
.menu-item a {
    padding: 0 5px;
    text-decoration: none;
    color: #21313d;
    font-size: 18px;
    font-weight: 620;
    -webkit-transition: .3s;
    transition: .3s;
}

.menu-item a:hover{
    color: #14aaf4;
}
header{
   
        background-color: #fff;
        -webkit-box-shadow: 1px 6px 20px -8px #888787;
        box-shadow: 1px 6px 20px -8px #888787;
        width: 100%;
        height: 75px;
        position: fixed;
        z-index: 100;
    
}
 .en{
    width: 40px;
    height: 32px;
    border-radius: 5px;
    border: 2px solid #21313d;
    color: #21313d;
    text-align: center;
    line-height: 26px;
    font-size: 16px;
    margin-top: 21px;
    padding-right: 10px;
    font-weight: 600;
    
 }


   

 .contact a {
    border: 2px solid #14aaf4;
    background-color: #14aaf4;
    border-radius: 8px;
    -webkit-box-shadow: -1px 4px 75px -18px #fff;
    box-shadow: -1px 4px 75px -18px #fff;
    letter-spacing: .7px;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff!important;
    font-size: 18px;
    font-weight: 700;
}
.contact {
    display: block;
    height: 50px!important;
    width: auto;
    line-height: 75px;
    text-align: center;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
.contact a:hover{
    border: 2px solid #49baf3;
    background-color: #49baf3;
    color: #21313d!important;
}
