
    <header>
      <div class="nav">
        <div class="container-fluid">
          <div class="row">
            <div class="logo col-md-2">
              Avro<span>Lab</span>
            </div>
            <div class="col-md-10">
              <nav>
                <div class="">
                  <ul class="menu nav-links">
                    <li class="menu-item">
                      <a href="#partners">Partners</a>
                    </li>
                    <li class="menu-item">
                      <a href="#services">Services</a>
                    </li>
                    <li class="menu-item">
                      <a href="#technologies">Technologies</a>
                    </li>
                    <li class="menu-item">
                      <a href="#careers">Careers</a>
                    </li>
                    <li class="menu-item">
                      <a href="#courses">Courses</a>
                    </li>
                    <li class="contact menu-item">
                      <a href="#contact">Contact</a>
                    </li>
                    <li class="menu-item en">
                      <span>EN</span>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>