.footer {
    width: 100%;
    height: auto;
    padding: 20px 0 0;
    background-color: #0f0f0f;
    color: #fff;
}

.footer__logo {
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    padding: 10px 0 35px;
}

.footer__logo span {
    color: #14aaf4;
}

.footer__rights {
    color: #bfbfbf;
    text-align: center;
    padding: 15px 0 10px;
}