<div class="ah3" id="contact">
    <div class="-contact" id="Contact" name="Contact">
        <form novalidate="" class="form">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="contact__title">
                            CONTACT US
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="contact__name">
                            <input formcontrolname="user_name" type="text" placeholder="Your Name" class="input">
                            <!---->
                            <div>
                                <!---->
                                <div class="contact__validationMessage">
                                    Name is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="contact__email">
                            <input formcontrolname="user_email" type="text" placeholder="Email Address" class="input">
                            <!---->
                            <div>
                                <!---->
                                <div class="contact__validationMessage">
                                    Email is required </div>
                                <!---->
                                <div class="contact__validationMessage">
                                    Email must be valid </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="contact__message">
                            <textarea formcontrolname="message" type="text" placeholder="How can we help you?"
                                class="textarea"></textarea>
                            <!---->
                            <div>
                                <!---->
                                <div class="contact__validationMessage" style="float: left" translate="">Message is
                                    required</div>
                            </div>

                        </div>
                    </div>
                    <div class="col-12" style="text-align: center">
                        <div class="contact__send">

                            <button class="shadow  btn " translate="" type="submit" disabled="">SEND</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="container-fluid">
            <div class="contact__info">
                <div class="row">
                    <div class="col-6 col-md-6"><i class="fas fa-mobile-alt"></i> +995 598 46 62 62</div>
                    <div class="col-6 col-md-6"><i class="fas fa-envelope"></i> info@avrolab.com</div>
                </div>
            </div>
        </div>
    </div>
</div>