<div id="courses">
    <div class="courses">
        <div class="courses__heading">Expand Your Knowledge</div>
        <div class="courses__heading__sub">We offer courses in various IT fields</div>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <!---->
                <div class="col-12 col-md-9" style="padding: 15px" id="#">
                    <div class=" courses__box">
                        <div class="courses__name">
                            <!----><span>Python Development</span>
                            <!---->
                        </div>
                        <div class="courses__description">
                            <!----><span>In this course you will learn the most popular languages in the world - Python.
                                We will
                                teach you how to build web applications as well as conducting data analysis using
                                Python. Our experts
                                will share their knowledge so that by the end of the course you'll have enough skills to
                                build real
                                world applications. We will help the exceptional students to find a job !</span>
                            <!---->
                        </div>
                        <!---->
                        <div class="courses__more">
                            <a href="#">LEARN MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>