<div class="container-fluid" id="technologies">
  <div class="technologies__title">
    TECHNOLOGIES WE EMPLOY
  </div>
  <div class="subLine">

  </div>
  <div class="row">
    <div class="col-6 col-md-3 pad">
      <div class="technologies__item">
        <div class="technologies__item__java">
          <i class="fab fa-java fa-5x"></i>
        </div>
        <div class="technologies__name">
          Java
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3 ">
      <div class="technologies__item">
        <div class="technologies__item__spark">
          <img src="/my-app/src/app/technologies/spark.png" style="width: 180px;">
        </div>

      </div>
    </div>
    <div class="col-6 col-md-3 ">
      <div class="technologies__item">
        <img src="../technologies/spring.jpg" width="80px">
        <div class="technologies__name">
          Spring
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="technologies__item">
        <img src="../technologies/hadoop.png" style="margin: auto; padding: 35px 0px 0px 0px" width="155px">
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="technologies__item">
        <div class="technologies__item__aws">
          <i class="fab fa-aws fa-5x"></i>
        </div>
        <div class="technologies__name">
          Amazon Web Services
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="technologies__item">
        <div class="technologies__item__nodeJs">
          <i class="fab fa-node fa-5x"></i>
        </div>
        <div class="technologies__name">
          Node.JS
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="technologies__item">
        <div class="technologies__item__angular">
          <i class="fab fa-angular fa-5x"></i>
        </div>
        <div class="technologies__name">
          Angular
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="technologies__item">
        <div class="technologies__item__react">
          <i class="fab fa-react fa-5x"></i>
        </div>
        <div class="technologies__name">
          React
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="technologies__item">
        <div class="technologies__item__reactNative">
          <i class="fab fa-react fa-5x"></i>
        </div>
        <div class="technologies__name">
          React Native
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="technologies__item">
        <img src="../technologies/pytorch.png">
        <div class="technologies__name">
          Pytorch
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="technologies__item">
        <div class="technologies__item__noIcon">
          <p>NLP</p>
        </div>
        <div class="technologies__name">
          Natural Language Processing
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="technologies__item">
        <div class="technologies__item__python">
          <i class="fab fa-python fa-5x"></i>
        </div>
        <div class="technologies__name">
          Python
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="technologies__item">
        <img src="/my-app/src/app/technologies/bioconductor.jpg" style="margin: auto; padding: 0px 25px 0px 0px" width="220px">
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="technologies__item">
        <div class="technologies__item__noIcon2">
          <p>GALAXY</p>
        </div>
      </div>
    </div>
  </div>
</div>