<div class=" partners__content" id="partners">
  <div class="projects">
    <div class="projects__title">
      <p translate="">OUR PARTNERS</p>
    </div>
    <div class="subLine">
    </div>
    <div class="projects__Projects">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <a href="https://cloud-gis.com" class="projects__Projects__pad">
              <div class="shadow projects__Projects__box projects__Projects__cloudgis">
                <div class="">
                  <div class="">
                    <div class="projects__Projects__name">
                      Cloud-GIS
                    </div>
                  </div>
                  <div class="projects__Projects__description col-12">
                    Cloud GIS is web mapping platform designed for creating online mapping solutions.
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>