.partners__content{
    border-top: 6px solid #14aaf4;
}
a {
    text-decoration: none;
}

.projects{
    width: 100%;
    height: auto;
    background-color: #e3e3ee;
    padding: 20px 20px 40px;
}

.projects__title{
    color: #21313d;
    font-size: 35px;
    font-weight: 700;
    padding-top: 20px;
    text-align: center;
    position: relative;
}

.subLine{
    width: 70px;
    height: 80px;
    border-top: 4px solid #14aaf4;
    margin: auto;
}

.projects__Projects{
    padding: 0;
    margin-bottom: 0;
    width: 100%;
    height: auto;
}

.wrapper{
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 0 10px;
}

.row{
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    
}

.projects__Projects__pad{
    padding: 15px 10px;
}

.col-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.projects__Projects__box {
    padding: 40px 35px;
    max-width: 400px;
    width: 100%;
    height: auto;
    max-height: 450px;
    min-height: 450px;
    overflow: hidden;
    text-align: center;
    font-size: 25px;
    -webkit-transition: .4s;
    transition: .4s;
    cursor: pointer;
    border-radius: 10px;
    margin: auto;

}


.projects__Projects__cloudgis{
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,20,27,.8)),to(rgba(10,9,48,.8))) no-repeat,url(cloudgis.png);
    background: linear-gradient(rgba(0,20,27,.8),rgba(10,9,48,.8)) no-repeat,url(cloudgis.png);
    background-blend-mode: darken;
    background-size: cover;
}

.projects__Projects__name{
    padding: 70px 0 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 1.1px;
    -webkit-transition: .4s;
    transition: .4s;
}
.projects__Projects__name:hover{
    color: #14aaf4;
}

.projects__Projects__description{
    color: #fff;
    font-size: 20px;
    padding: 40px 0;
    overflow-y: hidden;
}

