<div class=" specBox" id="services">
    
        
            <div class="specialization__title">
                Services We Provide
            </div>
            <div class="subLine">
            </div>
       
        <div class="contaner-fluid">
            <div class="row">
                <div class=" col-sm-12 col-md-3 col-lg-3  col-xl-3 specialization__position">
                    <div class="specialization__circle ">
                        <div class="specialization__icon">
                            <i class="fas fa-sitemap"></i>
                        </div>
                        <div class="specialization__icontitle">
                            Web Development
                        </div>
                        <div class="specialization__description">
                            AvroLab best-in-class focus on user experience will have potential customers clamoring to
                            your business’s
                            page or e-commerce shop.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>